.kanyeCall {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 1rem auto 1rem auto;
}
.specsBox {
  margin: 1rem auto 1rem auto;
  align-items: left;
  width: fit-content;
}
.specsBox h3 {
  align-items: center;
  padding: 1rem 1rem 0 1rem;
}
.kanyeCall span {
  margin-right: 5px;
}
.specs {
  text-align: center;
  color: black;
  font-size: small;
  padding-bottom: 1rem;
  margin: 1rem;
}
.quotebox {
  background-color: rgba(255, 255, 255, 0.2);
  width: fit-content;
  margin: 1rem auto;
  border-radius: 15px;
}

.codebtn {
  margin: 1rem;
}

.fctBtn {
  background: rgba(255, 255, 255, 0.4);
  color: rgb(0, 0, 0);
  width: 10rem;
  height: 3rem;
  border: 0;
  font-size: 15px;
  font-weight: bold;
  border-radius: 17px;
  font-family: 'Poppins', sans-serif;
  transition: 0.6s;
  overflow: hidden;
}

.fctBtn:hover {
  background: rgba(180, 104, 16, 0.5);
  color: white;
  cursor: pointer;
}
