.homeContentGrid {
  /*Grid*/
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'profilePic about '
    'profilePic skills '
    'project1 project1 ';
  grid-gap: 1rem;

  /*blurred box background*/
  color: black;
  text-align: center;
  border-radius: 17px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.profilePicContainer {
  grid-area: profilePic;

  padding: 1rem;
}

.aboutMeContainer {
  grid-area: about;
  padding: 2rem;
}

.skillsContainer {
  grid-area: skills;
  padding: 2rem;
}

.project1 {
  grid-area: project1;
  padding: 2rem;
}

@media only screen and (max-width: 850px) {
  .homeContentGrid {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'profilePic'
      'about'
      'skills'
      'project1';
  }
  .hometitle {
    width: 200px;
  }
}

.miniText {
  color: aliceblue;
  font-weight: 100;
}

.hometitle {
  display: inline;
  width: 350px;
}
.reactLogo {
  width: 2rem;
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.logoBox {
  background-color: darkslategray;
  width: fit-content;
  padding: 10px 10px 2px 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: cadetblue;
  margin-left: auto;
  margin-right: auto;
}
.candosubTitle {
  color: white;
}
