.homeContentGrid {
  /*Grid*/
  width: 100%;
  display: grid;
  grid-template-columns: 40% 30% 30%;

  grid-template-rows: 1fr;
  grid-template-areas: 'profilePic about project ';

  grid-gap: 1rem;

  /*blurred box background*/
  color: black;
  text-align: center;
  border-radius: 17px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.profilePicContainer {
  grid-area: profilePic;

  padding: 1rem;
}

.aboutMeContainer {
  grid-area: about;
  padding: 2rem;
}

.project {
  grid-area: project;
  padding: 2rem;
}

@media only screen and (max-width: 1050px) {
  .homeContentGrid {
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'profilePic'
      'about'
      'project';
  }
}

.miniText {
  color: aliceblue;
  font-weight: 100;
}

.hometitle {
  display: inline;
  width: 350px;
}
.reactLogo {
  width: 2rem;
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.logoBox {
  background-color: darkslategray;
  width: fit-content;
  padding: 10px 10px 2px 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: cadetblue;
  margin: 2rem auto 2rem auto;
}
.candosubTitle {
  color: white;
}
.textDiv {
  display: grid;
  margin: 0 auto;
  width: clamp(18rem, 80%, 25rem);
}
