.codeBox {
  /*blurred box background*/
  color: black;
  text-align: center;

  border-radius: 17px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
  padding: 1rem 1rem 2rem 1rem;
  margin: 2rem auto 2rem auto;
}

.codetitle {
  display: inline;
  width: 350px;
}

.codesubTitle {
  color: white;
}

.screen {
  animation: colorPulse 5s infinite ease-in-out;
  background-image: radial-gradient(#444, #111);
  box-shadow: 0 0 5vmin 1vmin #000 inset;

  font-family: 'Fira Mono', monospace;
  font-size: 10px;
  height: auto;
  overflow: hidden;
  padding: 5vmin;
  width: fit-content;
  margin: 0 auto 0 auto;
  text-align: left;
}

.screen p:last-child:after {
  animation: blink 1s infinite;
  content: '_';
}

@keyframes colorPulse {
  0%,
  100% {
    color: #0c0;
  }
  48%,
  52% {
    color: #090;
  }
  50% {
    color: #060;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.accordionBox {
  background-color: rgb(221, 229, 240);
  margin: 1rem auto 1rem auto;
  width: 70vw;
  height: auto;
  padding: 5px;
  border: rgba(78, 78, 78, 0.6);
  border-radius: 10px;
  border-style: solid;
}
#cardbox {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70vw;
  height: auto;
  background: #fff;
  padding: 1rem;
  margin: 3rem auto;
  border-radius: 15px;
}
.todoTitle {
  order: 0;
  flex: 1 100%;
  font-size: 2rem;
  padding: 0;
  height: auto;
  margin-bottom: 5px;
  border-radius: 15px;

  background: #89dfb8;

  text-transform: uppercase;
  letter-spacing: 0.35rem;
  color: #f7eb98;
  text-shadow: -4px 4px 0 #89dfb8, -6px 6px 0 rgba(255, 255, 255, 0.5);
  justify-content: center;
  align-items: center;
}
.todosubTitle {
  padding: 0;
}
.projectTitle {
  height: auto;
  width: auto;
  background: linear-gradient(20deg, #0cbaba, #0dceda, #6ef3d6, #79dae8);
  order: 0;
  font-size: 3rem;
  font-weight: 600;
  flex: 1 100%;
  margin: auto auto 5px auto;

  border-radius: 15px;
  padding: 0;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.projectTitle img {
  height: 3rem;
  margin: 1rem 1rem 0 1rem;
}
.todoPicture {
  border-radius: 15px;
  padding: 0;
  flex: 50%;
}
.todoPicture img {
  width: 100%;
  border-radius: 15px;
}
.projectPicture {
  order: 1;
  border-radius: 15px;
  padding: 0;
  flex: 50%;
}

.projectPicture img {
  width: 100%;
  border-radius: 15px;
}
.projectdescription {
  order: 2;
  flex: 50%;
  padding: 0;

  text-align: left;
}
.projectdescription p {
  padding: 0 1rem 1rem 1rem;
  width: clamp(10rem, 90%, 40rem);
  font-size: larger;
  margin: 2rem auto 2rem auto;
}
.projectStack {
  background-color: rgb(210, 206, 226, 0.2);
  order: 4;
  border-radius: 15px;
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  flex: 50%;
  justify-content: flex-start;
}
.projectStack .stackTitle {
  flex: 1 100%;
  background-color: rgba(137, 223, 184, 0.4);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  order: 0;
}
.projectStack .stackTitle p {
  padding: 1rem 0 10px 2rem;

  font-size: small;
  margin: 0;
}
.projectStack .stackdiv {
  flex: 50%;

  order: 1;
}

.projectStack .stackdiv p {
  padding: 5px 0 1rem 2rem;
  width: clamp(10rem, 90%, 40rem);
  font-size: small;
  margin: 0;
}
.projectLink {
  background-color: rgba(247, 235, 152, 0.3);
  order: 3;
  flex: 50%;
  border-radius: 15px;
}
.projectLink p {
  padding: 1rem auto 0 auto;
}
.projectLink img {
  margin: 0 0 1rem 0;
}
@media only screen and (max-width: 1024px) {
  #carbox {
    display: flex;
    flex-flow: column wrap;
  }
  .todoTitle {
    flex: 1 100%;
  }
  .projectTitle {
    flex: 1 100%;
  }
  .projectPicture {
    flex: 1 100%;
  }
  .todoPicture {
    flex: 1 100%;
  }
  .projectdescription {
    flex: 1 100%;
  }
  .projectStack {
    flex: 1 100%;
    order: 3;
  }
  .projectLink {
    flex: 1 100%;
    order: 4;
  }
}

.codeBtn {
  background: rgba(255, 255, 255, 0.3);
  color: rgb(0, 0, 0);
  width: 10rem;
  height: 3rem;
  border: 0;
  font-size: 15px;
  font-weight: bold;
  border-radius: 17px;
  font-family: 'Poppins', sans-serif;
  transition: 0.6s;
  overflow: hidden;
}

.codeBtn:hover {
  background: rgba(27, 163, 0, 0.5);
  color: white;
  cursor: pointer;
}
/*==================================================
 * Shadow Effect 
 * ===============================================*/
.effect {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect:before,
.effect:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}
.effect:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
