.codeBox {
  /*blurred box background*/
  color: black;
  text-align: center;

  border-radius: 17px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
  padding: 1rem 1rem 2rem 1rem;
  margin: 2rem auto 2rem auto;
}

.codetitle {
  display: inline;
  width: 350px;
}

.codesubTitle {
  color: white;
}

.screen {
  animation: colorPulse 5s infinite ease-in-out;
  background-image: radial-gradient(#444, #111);
  box-shadow: 0 0 5vmin 1vmin #000 inset;

  font-family: 'Fira Mono', monospace;
  font-size: 10px;
  height: auto;
  overflow: hidden;
  padding: 5vmin;
  width: fit-content;
  margin: 0 auto 0 auto;
  text-align: left;
}
.screen:before {
  animation: wave 10s infinite ease-in-out;
  content: '';
  overflow-x: hidden;
  overflow: hidden;
  height: 20vh;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  z-index: 1;
}

.screen:after {
  background-image: linear-gradient(transparent, transparent 3px, #222);
  background-size: 4px 4px;
  bottom: 0;
  content: '';
  left: 0;
  overflow-x: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

p:last-child:after {
  animation: blink 1s infinite;
  content: '_';
}

@keyframes colorPulse {
  0%,
  100% {
    color: #0c0;
  }
  48%,
  52% {
    color: #090;
  }
  50% {
    color: #060;
  }
}

@keyframes wave {
  0% {
    box-shadow: 0 -10vh 20vh #0c0;
    top: -100vh;
  }
  48%,
  52% {
    box-shadow: 0 -10vh 20vh #090;
  }
  50% {
    box-shadow: 0 -10vh 20vh #060;
  }
  100% {
    box-shadow: 0 -10vh 20vh #0c0;
    top: 200vh;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.accordionBox {
  background-color: rgba(138, 173, 170, 0.4);
  margin: 1rem auto 1rem auto;
  width: 70vw;
  height: auto;
  padding: 5px;
  border: rgba(78, 78, 78, 0.6);
  border-radius: 10px;
  border-style: solid;
}
