.footerBox {
  /*blurred box background*/
  color: black;
  text-align: center;
  border-radius: 17px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
  margin: 2rem auto 0 auto;
  padding: 1rem 1rem 2rem 1rem;
}
.footerSubTitle {
  color: white;
}
.subtext {
  font-size: medium;
}
.footerTitle {
  display: inline;
  width: 350px;
}
.copyright {
  font-size: x-small;
}

.contactBtn {
  background: rgba(255, 255, 255, 0.3);
  color: rgb(0, 0, 0);
  width: 10rem;
  height: 3rem;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 17px;
  font-family: 'Poppins', sans-serif;
  transition: 0.6s;
  overflow: hidden;
}

.contactBtn:hover {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
}
