.contactBox {
  /*blurred box background*/
  color: black;
  text-align: center;

  border-radius: 17px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
  padding: 1rem 1rem 2rem 1rem;
  margin: 2rem auto 2rem auto;
}

.contactTitle {
  display: inline;
  width: 350px;
}

.contactSubTitle {
  color: white;
}

.contactContainer {
  width: auto;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;

  margin: 2rem auto 2rem auto;
}
.instruction {
  margin: auto;
  color: rgba(255, 255, 255, 0.8);
}

.item {
  width: auto;
  height: 20%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin: auto;

  cursor: grab;
}

.item:active {
  cursor: grabbing;
}
.facebookBox {
  background: rgba(255, 255, 255, 0.6);
  border: solid;
  border-color: rgba(0, 0, 139, 0.6);
  padding: 2rem;
}
.mailBox {
  background: rgba(255, 255, 255, 0.6);
  border: solid;
  border-color: rgba(255, 165, 0, 0.6);
  padding: 2rem;
}
.linkedinbox {
  background: rgba(255, 255, 255, 0.6);
  border: solid;
  border-color: rgba(0, 118, 253, 0.6);
  padding: 2rem;
}
.phoneBox {
  background: rgba(255, 255, 255, 0.6);
  border: solid;
  border-color: rgba(46, 177, 74, 0.6);
  padding: 2rem;
}
.contactIcon {
  width: 3rem;
  margin: 10px;
  transition: linear 0.2s;
}
.contactIcon:hover {
  width: 4rem;
  transition: linear 0.2s;
}
.phoneBox img {
  width: 3rem;
  margin: 10px;
}

.subtext {
  font-size: medium;
}

@media only screen and (max-width: 750px) {
  .contactContainer {
    width: auto;
    height: 60rem;
    display: flex;

    justify-content: center;
  }
  .mailBox {
    background: rgba(255, 255, 255, 0.6);
    border: solid;
    border-color: orange;
    padding: 8px;
    font-size: clamp(15px, 5px, 1rem);
  }
}
